<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/jquery.js"></script>
</head>
<body>

</body>
<script>
    $.ajax({
        url : 'http://localhost/company/CompanyDel',
        type : 'post',
        async : true,
        data : {
            // 'name' : '不儒雅随和公司',
            // 'corporation' : '陨石',
            // 'record' : 0,
            // 'page' : [0,1],
            'uuid' : '2008f23efa4d32d23440ecc9225e03aa',
        },
        success : function(msg) {
            msg = JSON.parse(msg);
            console.log(msg);
        },
        error : function () {}
    });
</script>
</html>