<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/jquery.js"></script>
</head>
<body>
    <input type="file" id="img">
    <input type="file" id="main">
    <button onclick="fileUp()">点击</button>
<div id="qrcode"></div>
</body>
<script>
    function fileUp() {
        var pic = new FormData();
        // pic.append('error', '东西8行');
        // pic.append('company', 'c643cc681a5b0aa13a6597bcf166199e');
        // pic.append('trust', 'eca2b063a72e38990c27faa7e8ec4e9b');
        // pic.append('file', '149');
        // pic.append('reportMain', '检测合格');
        // pic.append('user', '138576473640');        // 人员账号
        // pic.append('pass', '123456');                 // 人员密码，可不填
        // pic.append('name', '大型陨石');                   // 人员姓名
        // pic.append('sex', '1');                                 // 人员性别，1男0女
        // pic.append('idCard', '330398197705065933');      // 人员身份证号
        // pic.append('mobile', '13857643640');              // 人员手机号
        // pic.append('information', '有事就找弟弟中型陨石');            // 人员其他联系方式
        // pic.append('accept', '1');                           // 是否同意协议，1同意
        // pic.append('address', '温州省乐清市');                 // 人员地址
        // pic.append('birthday', '2019-1-1');                  // 人员生日
        // pic.append('errorId', '1');
        // pic.append('trustCode', '');
        // pic.append('inputCompany', '');
        // pic.append('response', '');
        // pic.append('fileDepict', '嗦不粗话了');
        // pic.append('file', '25');
        // pic.append('fileCode', '3001YS190926000000014325');
        // pic.append('UploadPeople', '陨石');
        // pic.append('trust', '74c05b81de8e80c528686cf9912738ce');
        // pic.append('agreementType', '1');
        // pic.append('person', '陨石');
        // pic.append('quality', '陨石质监站');
        // pic.append('engineering', '3271e961902c266676029f35156ba03a');
        // pic.append('agreementFile', document.getElementById('img').files[0]);
        pic.append('pic', document.getElementById('img').files[0]);
        pic.append('pic', document.getElementById('main').files[0]);
        $.ajax({
            url: 'http://localhost/material/StandardEdit',
            url: 'http://localhost/engineer/DivideEngineer',
            url: 'http://localhost/engineer/EngineerDivide',
            url: 'http://localhost/engineer/Divide',
            url: 'http://localhost/engineer/DivideAdd',
            url: 'http://localhost/engineer/DivideEdit',
            url: 'http://localhost/engineer/DivideDel',
            url: 'http://localhost/engineer/DivideDel',
            url: 'http://localhost/engineer/EngineerDivideAdd',
            url: 'http://localhost/engineer/AllowDivide',
            url: 'http://localhost/engineer/EngineerList',
            url: 'http://localhost/engineer/DivideCompanyId',
            url: 'http://localhost/engineer/EngineerAdd',
            url: 'http://localhost/trust/TrustList',
            url: 'http://localhost/trust/TrustUpload',
            url: 'http://localhost/trust/TrustAdd',
            url: 'http://localhost/testing/TestingList',
            url: 'http://localhost/trust/PersonTrust',
            url: 'http://localhost/engineer/DivideCompanyId',
            url: 'http://localhost/material/StandardDel',
            url: 'http://localhost/material/PriceList',
            url: 'http://localhost/material/PriceAdd',
            url: 'http://localhost/material/PriceEdit',
            url: 'http://localhost/material/PriceDel',
            url: 'http://localhost/material/FileList',
            url: 'http://localhost/material/FileAdd',
            url: 'http://localhost/material/FileEdit',
            url: 'http://localhost/material/FileDel',
            url: 'http://localhost/material/TypeList',
            url: 'http://localhost/material/TypeAdd',
            url: 'http://localhost/material/TypeEdit',
            url: 'http://localhost/material/TypeDel',
            url: 'http://localhost/material/BlockList',
            url: 'http://localhost/material/BlockAdd',
            url: 'http://localhost/material/BlockEdit',
            url: 'http://localhost/material/BlockDel',
            url: 'http://localhost/material/MaterialList',
            url: 'http://localhost/material/MaterialAdd',
            url: 'http://localhost/material/MaterialEdit',
            url: 'http://localhost/material/MaterialDel',
            url: 'http://localhost/material/MaterialField',
            url: 'http://localhost/material/MaterialFieldAdd',
            url: 'http://localhost/material/MaterialFieldEdit',
            url: 'http://localhost/material/MaterialFieldDel',
            url: 'http://localhost/material/MaterialDefaultAdd',
            url: 'http://localhost/material/MaterialDefaultEdit',
            url: 'http://localhost/material/MaterialDefaultDel',
            url: 'http://localhost/trust/TrustList',
            url: 'http://localhost/trust/TrustAdd',
            url: 'http://localhost/trust/TrustEdit',
            url: 'http://localhost/trust/TrustDel',
            url: 'http://localhost/trust/TrustMaterialAdd',
            url: 'http://localhost/trust/PersonTrust',
            url: 'http://localhost/trust/TrustUpload',
            url: 'http://localhost/trust/TrustUploadAdd',
            url: 'http://localhost/testing/TestingError',
            url: 'http://localhost/testing/TestingError',
            url: 'http://localhost/testing/ReportUpload',
            url: 'http://localhost/testing/ReportList',
            url: 'http://localhost/testing/Report',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustList',
            url: 'http://localhost/engineer/DivideCompanyId',
            url: 'http://localhost/agreement/AgreementDel',
            url: 'http://jiance.server2.puankang.com.cn/agreement/AgreementDel',
            url: 'http://localhost/trust/CompanyTrust',
            url: 'http://localhost/trust/CompanyTrust',
            url: 'http://localhost/agreement/AgreementDel',
            url: 'http://localhost/agreement/Agreement',
            url: 'http://localhost/trust/TrustAllow',
            url: 'http://localhost/engineer/EngineerPass',
            url: 'http://localhost/area/areaAdd',
            url: 'http://localhost/area/areaEdit',
            url: 'http://localhost/area/areaDel',
            url: 'http://localhost/area/Area',
            url: 'http://localhost/admin/AdminAdd',
            url: 'http://localhost/admin/AdminEdit',
            url: 'http://localhost/admin/AdminDel',
            url: 'http://localhost/admin/AdminList',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerList',
            url: 'http://localhost/engineer/EngineerDivideAdd',
            url: 'http://localhost/admin/AdminLogin',
            url: 'http://jiance.server2.puankang.com.cn/admin/AdminLogin',
            url: 'http://localhost/qrcode/CompanyAdd',
            url: 'http://localhost/qrcode/CompanyEdit',
            url: 'http://localhost/qrcode/CompanyDel',
            url: 'http://localhost/qrcode/Company',
            url: 'http://localhost/qrcode/WorkTypeAdd',
            url: 'http://localhost/qrcode/WorkTypeEdit',
            url: 'http://localhost/qrcode/WorkTypeDel',
            url: 'http://localhost/qrcode/WorkType',
            url: 'http://localhost/qrcode/QrcodeCreate',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustUpload',
            url: 'http://jiance.server2.puankang.com.cn/qrcode/Qrcode',
            url: 'http://localhost/qrcode/Qrcode',
            url: 'http://localhost/company/Character',
            url: 'http://jiance.server2.puankang.com.cn/admin/AdminList',
            url: 'http://localhost/area/Area',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustUploadAdd',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustUpload',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustPeopleUpload',
            url: 'http://jiance.server2.puankang.com.cn/company/companyList',
            url: 'http://jiance.server2.puankang.com.cn/company/CompanyMain',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustPeopleFaceCheck',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustUploadForCode',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerMain',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerDivideAdd',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerEdit',
            url: 'http://jiance.server2.puankang.com.cn/admin/CompanyAdmin',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerList',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerDivideAdd',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerDivideDel',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerReg',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustAdd',
            url: 'http://jiance.server2.puankang.com.cn/count/EngineerCount',
            url: 'http://jiance.server2.puankang.com.cn/count/TrustCount',
            url: 'http://jiance.server2.puankang.com.cn/count/ErrorCount',
            url: 'http://jiance.server2.puankang.com.cn/count/CompanyCount',
            url: 'http://jiance.server2.puankang.com.cn/material/MaterialAllList',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustList',
            url: 'http://jiance.server2.puankang.com.cn/qrcode/QrcodePng',
            url: 'http://jiance.server2.puankang.com.cn/qrcode/QrcodeCreate',
            url: 'http://jiance.server2.puankang.com.cn/testing/ReportUpload',
            url: 'http://jiance.server2.puankang.com.cn/testing/Report',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustDel',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerDivide',
            url: 'http://jiance.server2.puankang.com.cn/qrcode/Qrcode',
            url: 'http://localhost/admin/AdminRole',
            url: 'http://localhost/admin/AdminList',
            url: 'http://jiance.server2.puankang.com.cn/admin/AdminList',
            url: 'http://jiance.server2.puankang.com.cn/agreement/Agreement',
            url: 'http://jiance.server2.puankang.com.cn/testing/TestingErrorResponse',
            url: 'http://jiance.server2.puankang.com.cn/agreement/AgreementType',
            url: 'http://jiance.server2.puankang.com.cn/testing/TestingError',
            url: 'http://jiance.server2.puankang.com.cn/count/WeekError',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerReg',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerReckonerList',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerReckonerAdd',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerReckonerEdit',
            url: 'http://jiance.server2.puankang.com.cn/engineer/EngineerReckonerDel',
            url: 'http://jiance.server2.puankang.com.cn/people/PeopleList',
            url: 'http://jiance.server2.puankang.com.cn/people/PeopleRegister',
            url: 'http://jiance.server2.puankang.com.cn/people/PeopleAdd',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustSave',
            url: 'http://jiance.server2.puankang.com.cn/testing/ReportUploadList',
            url: 'http://jiance.server2.puankang.com.cn/testing/ReportUpload',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustPeopleFaceCheck',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustUpload',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustUpload',
            url: 'http://jiance.server2.puankang.com.cn/qrcode/QrcodeCreate',
            url: 'http://jiance.server2.puankang.com.cn/qrcode/Qrcode',
            url: 'http://jiance.server2.puankang.com.cn/testing/Report',
            url: 'http://jiance.server2.puankang.com.cn/trust/TrustSave',
            // url: 'http://jiance.server2.puankang.com.cn/testing/ReportUploadList',
            // url: 'http://jiance.server2.puankang.com.cn/trust/TrustUploadAdd',
            // url : 'https://apiserer1.bangninyou.com/version/user/Products?aithorization=89577f2a6a943243dff4929aeafb0b7b,123',
            // url : 'https://apiserer1.bangninyou.com/version/homepage/Products?aithorization=89577f2a6a943243dff4929aeafb0b7b,123',
            type: 'get',
            // contentType : false,
            // processData : false,
            data :
                {
                    // 'trust' : '74c05b81de8e80c528686cf9912738ce',
                    'trust' : '01b0bffc774632c0941b63122744b660',
                    // 'code' : 'P',
                    // 'mobile' : '1',
                    // 'idCard' : '3',
                    // 'name' : '石',
                    // 'engineer' : '4ee61eab294b43ed475dc571594411a1',
                    // 'peopleId' : 'a25164d94658c6f757edabf157af5e77',
                    // 'name' : '天降',
                    // 'peopleName' : '石',
                    // 'peopleMobile' : '13',
                    // 'peopleCode' : 'P',
                    // 'divide' : 3,
                    // 'name' : 12323213,
                    // 'mobile' : 15757300865,
                    // 'companyName' : 1235434322,
                    // 'error' : '东西8行',
                    // 'inputCompany' : '儒雅随和公司',
                    // 'errorId' : 2,
                    // 'response' : '',
                    'codeNum' : 10,
                    // 'workName' : '陨石',
                    'workCode' : 'YS',
                    'company' : '3',
                    'work' : 4,
                    'page' : [0,100],
                    // 'ewmcode' : 'dgiuhsdfgdsaiofhidsfhoipsdhf',
                    // 'trust' : '74c05b81de8e80c528686cf9912738ce',
                    // 'mobile' : '13819782536',
                    // 'materialName' : '陨石撞石头',     // 检测项目名
                    // 'project' : '砸tmd',                // 工程名称
                    // 'customCompany' : '儒雅随和公司',     // 客户企业
                    // 'preCompany' : '儒雅随和公司',        // 预检测机构
                    // 'inputCompany' : '儒雅随和公司',      // 送检测机构
                    // 'testType' : '1',                   // 检测类型id，送检测，到场检测等
                    // 'material' : '3',                  // 检测项目id
                    // 'price' : '5',                    // 检测费
                    // 'engineering' : '4ee61eab294b43ed475dc571594411a1',     // 工程id
                    // 'processing' : '1',
                    // 'divide' : 2,
                    // 'name' : '嗦不粗话工程',
                    // 'mobile' : '13857943645',
                    // 'companyName' : '嗦不粗话',
                    // 'divide' : '155',   // 成员身份id
                    // 'engineer' : 'b1e43c81e0006e8337b9289db485fa6b',   // 工程id
                    // 'user' : 3,      // 用户id
                    // 'role' : 1,
                    // 'role' : 1,
                    // 'qrcode' : '3001YS190916000000204685',
            //         'engineer' : '0ff7ddf1cf95f1212cd8b97c70a07596',    // 工程id
            //             'company' : '19505aa4ca626483e9962a0398524bc4',    // 录入人id
            // 'name' : '神力陨石天降工程',           // 工程名称
            // 'type' : 1,                         // 工程类型
            // 'from' : 'sedfsdfsdfds',           // 所属质监站
            // 'level' : 'asdasfasdasd',           // 所属质监等级编号
            // 'area' : 1,                          // 工程区域
            // 'foundations' : 1,                // 地面基础类型
            // 'site' : 55.1,                      // 建筑面积
            // 'underground' : 55.1,
        //     'uuid' : '3371c043e814859c9a33318c51c71ee5',
                },
            //     'areaParent' : 0,
                // 'use' : 0,
                // 'page' : [0,100],
                // 'trust' : '74c05b81de8e80c528686cf9912738ce',
                // 'companyName' : '台州市建设局',
                // 'linkman' : '老陨石',
                // 'mobile' : '13857643649',
                // 'companyCode' : 3001,
                // 'qrTime' : '190916',
                // 'use' : 0,
                // 'divide' : 11,   // 成员身份id
                // 'engineer' : '43cfc90ccb8878a2b79e1d508e5967f0',   // 工程id
                // 'user' : 1,      // 用户id
                // 'user' : 1,
                // 'userName' : '13857643643',
                // 'userPass' : '123456',
                // 'companyName' : '不',
                // 'roleName' : '系',
                // 'userPass' : '123456',
                // 'area' : '10102',
                // 'areaName' : '龙湾',
                // 'areaParent' : 0,
                // 'agreement' : '6a61f0f59e0d5eb23c4bbcfa9fca85fc',
                // 'agreementType' : 1,
                // 'typeName' : '企业',
                // 'person' : '陨石',
                // 'quality' : '陨石质监站',
                // 'agreementTime' : '2018-01-01',
                // 'construction' : '陨石',
                // 'engineer' : '3271e961902c266676029f35156ba03a',
                // 'engineeringName' : '陨石',
                // 'divideUser' : 'JL190905299315',   // 工程分配的账号
                // 'dividePass' : '123456',
                // 'engineering' : '3271e961902c266676029f35156ba03a',
                // 'trust' : '74c05b81de8e80c528686cf9912738ce',
                // 'inputCompany':'陨石',
                // 'testingType':'陨石',
                // 'testName':'陨石',
                // 'engineerName':'陨石',
                // 'result':'陨石',
                // 'reportTimes':'2018-1-1 12:00:00',
            // },
                // 'company' : '2008f23efa4d32d23440ecc9225e03aa'},
            // data: {
                // 'standard' : 2,
                // 'divide' : 55,
                // 'trust': '786c9da0d40697e9f695cd84b3eadff1',
                // 'divideName' : '弟中弟单位',
                // 'divideField' : 'didi_company',
                // 'divideUser': 'SG190905327973',
                // 'dividePass': '123456',
                // 'engineerType' : 5,
                // 'engineerTypeName' : '上水道工程',
                // 'processTypeName' : '施工方处理',
                // 'processType' : 1,
                // 'testTypeName' : '现场检测',
                // 'testType' : 1,
                // 'foundations' : 1,
                // 'standard' : 2,
                // 'standardNumber' : 'YSH02',   // 检测标准编号
                // 'companyName' : '儒雅随和',  // 企业名称
                // 'company' : 'c643cc681a5b0aa13a6597bcf166199e',  // 企业id
                // 'standardCode' : 'YSH',   // 试验代号
                // 'standardType' : '天降',   // 试验类别
                // 'standardFrom' : 'YSH',   // 所检项目
                // 'basisNumber' : 'YSH 145-2013',    // 检测依据编号
                // 'basis' : 'YSH 145-2013《天降》',   // 检测依据
                // 'determineNumber' : 'YSH 145-2013',   // 判定标准编号
                // 'determine' : 'YSH 145-2013《天降》',   // 判定标准
                // 'engineer' : '43cfc90ccb8878a2b79e1d508e5967f0',
                // 'company' : '19505aa4ca626483e9962a0398524bc4',    // 录入人id
                // 'name' : '神力陨石上水道工程',           // 工程名称
                // 'type' : 1,                         // 工程类型
                // 'from' : 'sedfsdfsdfds',           // 所属质监站
                // 'level' : 'asdasfasdasd',           // 所属质监等级编号
                // 'area' : 1,                          // 工程区域
                // 'foundations' : 1,                // 地面基础类型
                // 'site' : 55.1,                      // 建筑面积
                // 'underground' : 55.1,                   // 地下室面积
                // 'CCAD' : 55.1,                       // 人防工程面积
                // 'address' : '浙江温州',
                // 'pass' : '123456',
                // 'company' : '19505aa4ca626483e9962a0398524bc4',
                // 'uuid' : '2008f23efa4d32d23440ecc9225e03aa',   // 企业id
                // 'form' : 1,     // 企业种类，是否检测机构，1检测机构，2非检测机构
                // 'name' : '13857643649',     // 企业用户名
                // 'uniform' : 'wqedsadasda',    // 社会统一认证编号
                // 'business' : 'dfgfdhdfghdfgh',   // 营业执照编号
                // 'start' : '2010-1-1',   // 营业执照有效期始
                // 'end' : '2019-1-1',   // 营业执照有效期止
                // 'capital' : '150',            // 注册资本
                // 'character' : '1',         // 企业经济性质
                // 'corporationMobile' : '13857643699',      // 企业法人联系电话
                // 'website' : 'http://www.grey.com',     // 企业网址
                // 'fax' : '',     // 企业传真
                // 'area' : 10101,    // 企业地区
                // 'regAddr' : '浙江温州',    // 工商注册地办公地址
                // 'postal' : '325612',     // 工商注册地邮编
                // 'AD' : '浙江温州行政',   // 工商注册地行政主管部门
                // 'rules' : '我觉得不行',   // 企业章程
                // 'profile' : '都听我的一个人说了算',   // 企业简介
                // 'linkman' : '陨石',   // 联系人
                // 'mobile' : '13857646399',   // 联系电话
                // 'contact' : '上门联系',   // 其他联系方式
                // 'email' : '976067482@qq.com',   // 企业邮箱
                // 'record' : 0,
                // 'company' : '13857643649',
                // 'name' : '儒雅随和检测公司',
                // 'uniform' : 'sadhasihdasd',
                // 'linkman' : '儒雅随和',
                // 'mobile' : '13857643649',
                // 'contact' : '上门联系',
                // 'pass' : '888888',
                // 'accept' : 1,
                // 'area' : '10122',
                // 'cate' : '86',
                // 'trust': '74c05b81de8e80c528686cf9912738ce',
                // 'save': [
                //     {
                //         'trial': 3,
                //         'trialVerify': 1,
                //         'trialValue': '砸地测试',
                //         'trialToken': 1,
                //         'default': 1,
                //     },
                //     {
                //         'trial': 3,
                //         'trialVerify': 1,
                //         'trialValue': '砸水测试',
                //         'trialToken': 1,
                //         'default': 2,
                //     }
                // ],
                // 'materialName' : '陨石撞石头',
                // 'project' : '砸tmd',
                // 'customCompany' : '儒雅随和公司',
                // 'preCompany' : '儒雅随和公司',
                // 'inputCompany' : '儒雅随和公司',
                // 'testType' : '1',
                // 'material' : '3',
                // // 'input' : '2019-1-1',
                // 'price' : '5',
                // 'engineering' : '3271e961902c266676029f35156ba03a',
                // 'openid' : 'odW581cdBBiWo-9Zv0GAfyG4JNGU',
                // 'processing' : '1',
                // 'materialType' : 7,
                // 'material' : '陨石砸陨石砸石头',
                // 'block' : 1,
                // 'standardCode' : 'YSH',
                // 'trust' : '',
                // 'save' : [],
                // 'trial' : 7,
                // 'materialId' : 3,
                // 'trialName' : '陨石梆软软软',
                // 'trialDepict' : '从项',
                // 'trialHint' : '不得行',
                // 'trialCustomHint' : '非常不得行',
                // 'defaultValue' : '砸水水水水测试',
                // 'defaultVerify' : 1,
                // 'defaultToken' : 1,
                // 'default' : 4,
                // 'blockId' : 7,
                // 'block' : 1,
                // 'upload' : 1,
                // 'type' : 1,
                // 'typeParent' : '2',
                // 'typeName' : '陨石不砸不砸石头检测',
                // 'priceId' : 3,
                // 'fileId' : '7',
                // 'compansy' : '2008f23efa4d32d23440ecc9225e03aa',
                // 'companyName' : '不儒雅随和公司',
                // 'fileNumber' : 'JAS/JS010-23-12',
                // 'material' : '法',
                // 'standardCode' : 'YSH',
                // 'valid' : 1,
                // 'standardNumber' : 'YSH04',
                // 'standard' : '1',
                // 'standardNumber' : 'YSH04',
                // 'standardCompany' : '儒雅随和',
                // 'standardCode' : 'DYSH',
                // 'standardType' : '陨石',
                // 'standardFrom' : 'DYSH',
                // 'price' : '50',
                // 'remarks' : '检测石头检测',
                // 'tag' : 0,
                // 'end' : 1,
                // 'basisNumber' : 'JGJ 145-2013',
                // 'basis' : 'JGJ 145-2013 《混凝土》',
                // 'determineNumber' : 'JGJ 145-2013',
                // 'determine' : 'JGJ 145-2013 《混凝土》',
                // 'user' : '1231',
                // 'pass' : '1234',
                // 'name': '陨石',
                // 'idCard' : '330382199601196319',
                // 'mobile': '13857643643',
                // 'check' : 111,
                // 'name' : '不儒雅随和公司',
                // 'corporation' : '陨石',
                // 'record' : 0,
                // 'page' : [0,1],
                // 'code' : 'G',
                // 'company' : '2008f23efa4d32d23440ecc9225e03aa',
                // 'engineer' : '9fa41e38209248edba0ab84c6c777d7d',
                // 'people' : 'a25164d94658c6f757edabf157af5e77',
                // 'person' : '随和',
                // 'name' : '神力陨石天降',           // 工程名称
                // 'type' : '建筑工程',                         // 工程类型
                // 'from' : 'sedfsdfsdfds',           // 所属质监站
                // 'level' : 'asdasfasdasd',           // 所属质监等级编号
                // 'area' : 1,                          // 工程区域
                // 'foundations' : 1,                // 地面基础类型
                // 'site' : 55.1,                      // 建筑面积
                // 'underground' : 55.1,                   // 地下室面积
                // 'CCAD' : 55.1,                       // 人防工程面积
                // 'address' : '浙江温州',                     // 工程地点
                // 'build' : '儒雅随和', // 建设单位
                // 'supervise' : '儒雅随和',   // 监理单位
                // 'construction' : '儒雅随和', // 施工单位
                // 'survey' : '儒雅随和', // 勘察单位
                // 'design' : '儒雅随和',  // 设计单位
                // 'witness' : '陨石',        // 见证人员
                // 'makeup' : '陨石', // 填单人员
                // 'sampling' : '陨石',  // 取样人员
            // },
            success: function (msg) {
                msg = JSON.parse(msg);
                console.log(msg);
                var html = '<ul>';
                var data = msg.data;
                for(var i = 0; i < data.length; i++) {
                    html += "<li><a target=\'_blank\'  href=\'"+ data[i].path +"\'>"+ data[i].qrCode +"</a></li>";
                }
                html += '</ul>';
                console.log(html);
                $('#qrcode').empty();
                $('#qrcode').html(html);
            },
            error: function () {
            }
        });
    }
</script>
</html>