<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/jquery.js"></script>
</head>
<body>

</body>
<script>
    $.ajax({
        url : 'http://localhost/people/PeopleDel',
        type : 'post',
        async : true,
        data : {
            // 'user' : '1231',
            // 'pass' : '1234',
            // 'name': '陨石',
            // 'idCard' : '330382199601196319',
            // 'mobile': '13857643643',
            // 'check' : 111,
            // 'name' : '不儒雅随和公司',
            // 'corporation' : '陨石',
            // 'record' : 0,
            // 'page' : [0,1],
            'uuid' : 'a25164d94658c6f757edabf157af5e77',
        },
        success : function(msg) {
            msg = JSON.parse(msg);
            console.log(msg);
        },
        error : function () {}
    });
</script>
</html>